.flex {
  display: flex;
}
.new_box {
  width: 100%;
  height: auto;
  p {
    margin: 0;
  }
}
.new_step {
  height: 100vh;
}
.new_head {
  position: fixed;
  display: flex;
  left: calc(10% / 2);
  height: 3rem;
  align-items: center;
  width: 90%;
  justify-items: center;
}
.bg1 {
  width: 100%;
  background: url('../assets/newPages/img/bg.png') no-repeat;
  background-size: 100% 80%;
}
.bg2 {
  width: 100%;
  background: url('../assets/newPages/img/bg_2.png') no-repeat;
  background-size: 100% 50%;
  background-position: 50% 100%;
}
.bg3 {
  height: 100%;
}
.new_body {
  width: 90%;
  display: flex;
  align-items: center;
  height: calc(100vh - 3rem);
  margin: 0 auto;
  padding: 3rem 0;
  > div {
    display: inline-block;
    vertical-align: middle;
  }
}
.new_body1 {
  width: 90%;
  height: calc(100vh - 3rem);
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}
.new_logo {
  width: 2.375rem;
  height: 2.375rem;
  border-radius: 4px;
  > img {
    height: 100%;
    width: 100%;
  }
}
.grow {
  flex-grow: 1;
}
.direction {
  align-items: center;
  justify-content: flex-end;
}
.btn {
  display: flex;
  padding: 0 0.6rem;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  color: rgba(255, 85, 0, 1);
  text-decoration: none;
}
.button {
  padding: 0.1rem 0.2rem;
  background-color: #000000;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 30px;
}
.step1 {
  width: 90%;
  margin: 0 auto;
}
@media screen and (min-width: 1350px) {
  .new_head {
    width: 67%;
    left: calc(33% / 2);
  }
  .new_body,
  .new_body1,
  .step1 {
    width: 67%;
  }
}
.p1 {
  font-size: 43px;
  font-family: PingFangSC-Medium;
  font-weight: 500;
  color: rgba(35, 36, 43, 1);
  line-height: 67px;
}
.p2 {
  font-size: 26px;
  font-family: PingFangSC-Light;
  font-weight: 300;
  color: rgba(35, 36, 43, 1);
  line-height: 42px;
}
.p3 {
  height: 50px;
  font-size: 26px;
  font-family: PingFangSC-Semibold;
  font-weight: 600;
  color: rgba(35, 36, 43, 1);
  line-height: 50px;
}
.p4 {
  font-size: 14px;
  font-family: PingFangSC-Regular;
  font-weight: 400;
  text-align: left;
  color: rgba(35, 36, 43, 1);
  line-height: 24px;
}
#er {
  margin: 20px 0;
}
.andr {
  height: 62px;
  width: 210px;
  border: none;
  border-radius: 3px;
  outline: none;
  background: linear-gradient(#ffde00, #ffba00);
  > img,
  > span {
    display: inline-block;
    vertical-align: middle;
  }
  > span {
    font-size: 22px;
    font-family: PingFangSC-Light;
    font-weight: 300;
    color: rgba(35, 36, 43, 1);
    line-height: 30px;
  }
}
.color {
  width: 58px;
  height: 8px;
  background: linear-gradient(
    180deg,
    rgba(255, 223, 0, 1) 0%,
    rgba(255, 187, 0, 1) 100%
  );
  margin: 0 auto;
}
.height {
  height: calc(100% - 8px - 50px);
  align-items: center;
}
.img {
  width: 49%;
}
.new_item {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  width: calc(calc(100% - 100px) / 3);
  margin-right: 50px;
  margin-top: 20px;
  height: calc(calc(100% - 40px) / 2);
  &:nth-child(3n) {
    margin-right: 0;
  }
}
.text {
  width: 50%;
}
.foot {
  text-align: center;
  height: 100px;
  background: rgba(4, 32, 28, 1);
  > p {
    &:nth-child(1) {
      font-size: 14px;
      font-family: PingFangSC-Regular;
      font-weight: 400;
      color: rgba(255, 255, 255, 1);
      line-height: 40px;
    }
    &:nth-child(2) {
      font-size: 16px;
      font-family: PingFangSC-Semibold;
      font-weight: 600;
      color: rgba(255, 255, 255, 1);
      line-height: 40px;
    }
  }
}
.confor {
  display: inline-block;
  vertical-align: middle;
  font-size: 14px;
  color: #04201c;
  line-height: 25px;
}
